h2 {
  background-color: orange;
  position: relative;
  left: 100px;
  /* bottom: 50px;
  top right*/
}
* {
  margin: 0px;
  padding: 0px;
}
h3 {
  background-color: pink;
  /* position: fixed; */
  /* top: 0px;
  left: 250px; */
}

h4 {
  position: sticky;
  background-color: brown;
  top: 0px;
}

p {
  background-color: azure;
  position: absolute;
  left: 50px;
  top: 70px;
  margin: 0px;
  z-index: 10;
}
